* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: darkgrey;
}

.jumbotron {
	background-image: url('../assets/images/jumbotron_background_abstract.jpg');
	color: white;
	background-size: cover;
	border-radius: 0px;
	background-color: #707070;
}
.card-link {
	color: gray;
}
.card-title {
	margin: 10px;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
}
.card-footer {
	background-color: #00308f;
}
div.colorbar {
	background-color: #00308f;
}
.navText {
	font-family: 'Euphoria Script', cursive;
	font-family: 'Gruppo', cursive;
	color: white;
	font-size: 38px;
}
